.sidebar {
    background-color: #F27D59; /* Replace with your desired background color */
    width: 60px; /* Adjust width as needed */
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    .sidebar-item {
  
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
  
      img {
        width: 100%;
        height: 100%;
      }
    }
    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        padding: 20px;
      }
      
      .sidebar-item {
        margin: 10px 0;
      }
      
      .sidebar-middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px; /* Reduce gap between icons */
        flex-grow: 1; /* Take up remaining space in the middle */
      }
      
      .sidebar-item mat-icon,
      .sidebar-item img {
        font-size: 24px; /* Adjust icon size */
      }
      
      /* Adjust for specific icons if needed */
      .sidebar-item img {
        width: 30px; /* Set image size */
        height: 30px;
      }
      /* Optional: Style for the active state */
button.active mat-icon {
    /* Change to your desired active color */
  }
  
  button {
    background-color: transparent;
    border: none;
  }
  
  .sidebar-item {
    margin: 10px 0;
  }
  
  .sidebar-item button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Active button style */
button.active {
  color: aliceblue;
 /* Add background or other styles as needed */
}

/* Inactive button style */
button.inactive {
  color: lightgray;
  background-color: transparent; /* Make the background transparent or use any other style */
}

  }
  