<div class="station-card">
    <div class="station-header">
      <mat-icon>local_gas_station</mat-icon>
      <span>{{ stationName }}</span>
      <mat-icon style="color: black;">more_horiz</mat-icon>
    </div>
    <div class="station-details">
        <div class="station-details">
            <div class="info-group">
              <div class="info-item">
                <span class="title">Total Sales:</span> {{ totalSales }}
              </div>
              <div class="info-item">
                <span class="title">Compression State:</span> {{ compressionState }}
              </div>
              <div class="info-item">
                <span class="title">Total Transaction Count:</span> {{ transactionCount }}
              </div>
            </div>
          
            <div class="info-group">
              <div class="info-item">
                <span class="title">Max Transaction / hour:</span> {{ maxTransactionHour }}
              </div>
              <div class="info-item">
                <span class="title">Max Transaction Date-Time:</span> {{ maxTransactionDateTime }}
              </div>
            </div>
          </div>
          
          
    </div>
  </div>
  